
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="site-blocks-cover inner-page" data-aos="fade">
    <div class="container">

        <div class="row align-items-center">
            <div class="col-lg-5 text-left">
                <div class="featured-hero-product w-100 text-left">
                    <h1 class="mb-2">About</h1>
                    <p>
                        Our goal is to provide a special shopping experience for customers who love the choice of the world's most famous sports manufacturers on the web application platform. Are you a fan of Sportwear and sporty fashion styles but don't know where to choose? Please come with us.
                    </p>
                </div>
            </div>
            <div class="col-lg-7 align-self-end text-center text-lg-right">
                <img src="Content/images/adidas-logo.png" alt="Image" class="img-fluid img-1">
            </div>

        </div>
    </div>

</div>

