@using Fashion23.Models
@model List<Product>

@{
    foreach (var item in Model)
    {
        <div class="col-12 col-sm-6 col-lg-4">
            <div class="single-product-wrapper">
                <!-- Product Image -->
                <div class="product-img">
                    <a href='@Url.Action("Index", "Shop")'>
                        <img src='@Url.Content("~/Imgsp/Nike"+item.Image)' alt="">
                        

                       
                        </div>
                        <!-- Favourite -->
                        <div class="product-favourite">
                            <a href="#" class="favme fa fa-heart"></a>
                        </div>
                </div>

                <!-- Product Description -->
                <div class="product-description">
                    <span>LauPhan</span>
                    <a href="single-product-details.html">
                        <h6>@item.Ten_sp</h6>
                    </a>
                    <p class="product-price">@item.Giaban</p>

                    <!-- Hover Content -->
                    <div class="hover-content">
                        <!-- Add to Cart -->
                        <div class="add-to-cart-btn">
                            <a href="#" class="btn essence-btn">Add to Cart</a>
                        </div>
                    </div>
                </div>
            </div>
        

    }

}
